<%= link_to list_path(list) do %>
  <div class="card card-index-list m-3" style="width: 16rem; height: 22rem; " data-controller="edit-list" data-edit-list-target="info">
    <%= list.photo.attached? ? (cl_image_tag list.photo.key, class: "card-img-top") : (image_tag asset_path("default-list-img.svg"), class: "card-img-top") %>
    <div class="card-body card-body-list">
      <div class="list-title">
        <h3 class="mt-4 card-list-content text-center"  data-edit-list-target="title"><%= link_to list.title.capitalize, list_path(list), class:"slide-left-right"%>
          <i class="far fa-edit list-fa" data-action="click->edit-list#displayForm"></i>
        </h3>

        <%= simple_form_for list, remote: true, html: { class: 'd-none', data: { edit_list_target: 'form', action: 'submit->edit-list#update' } } do |f| %>
          <div class="row d-flex justify-content-center py-4">
            <div class="col-10">
              <%= f.input :title, label: false, placeholder: 'My Books' %>
            </div>
            <div class="col-10 text-center">
              <%= f.input :photo, as: :file %>
              <%= f.button :submit, "Update" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
