<% if current_user.lists.count == 1 && @products.empty? %>
  <div class="main-container-show-lists">
    <div class="left-container-show-lists">
      <h1>Welcome to Whisher!</h1>
      <% if policy(List).create? %>
        <%= link_to 'Add a Product to Your List', new_list_product_path(@list), class: "btn btn-ghost mt-5" %>
      <% end %>
    </div>
    <div class="right-container-show-lists">
    </div>
  </div>
<% end %>

<div class="container text-center">
  <h1 class="mt-4"><%= @list.title %></h1>
  <div class="d-flex justify-content-end w-100 mr-2">
    <% if policy(List).create? %>
      <%= link_to new_list_product_path(@list) do%>
        <span class="slide-left-right mr-3"><i class="far fa-plus-square"></i> Add item</span>
      <% end %>
    <% end %>
    <%= link_to list_path, method: :delete, data: { confirm: 'Are you sure you want to delete this list?' } do %>
      <span class="ml-3 slide-left-right"><i class="fas fa-trash-alt list-fa"></i> Delete list</span>
    <% end %>
  </div>

  <%# ------------------------------------------- %>
  <%#         SEARCH PRODUCTS BY AJAX %>
  <%# ------------------------------------------- %>
  <div data-controller="search-products">
    <%= form_with url: list_path, method: :get, html: { class:
    'my-3', data: { search_products_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'Serach for a product',
                      value: params[:query],
                      data: { search_products_target: 'input', action: 'keyup->search-products#update' }
                      %>
    <% end %>

    <div class="row justify-content-center">
      <% @products.each do |product| %>
        <div class="col-12 col-md-6 col-lg-4 py-4" data-search-products-target="product" data-product-name="<%= product.name.present? ? product.name : "Loading..." %>">
          <div class="card-img-product">
            <%= link_to product_path(product), method: :delete, data: { confirm: 'Are you sure you want to delete this product?' } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
            <% if product.photo.present? %>
              <%= image_tag asset_url(product.photo), class: "img-fluid" %>
            <% else %>
              <%= image_tag asset_url("loading-img.svg"), class: "img-fluid" %>
            <% end %>
          </div>

          <div class="card-text-product text-left p-3 d-flex flex-column ">
            <h5 class="flex-grow-1"><%= product.name.present? ? product.name : "Loading..." %></h5>
            <%# <%= product.inventory.present? ? product.inventory : "Loading..." %>
            <h6><%= product.price.present? ? "U$ #{product.price}" : "Loading..." %></h6>
          </div>
            <%= link_to 'BUY', product.url, target: "_blank", class: "btn btn-buy w-100" %>
        </div>
      <% end %>
    </div>
  </div>
  <%# ------------------------------------------- %>

</div>
