<% if current_user.lists.count == 1 && @products.empty? %>
  <div class="main-container-show-lists">
    <div class="left-container-show-lists">
      <h1>Welcome to Whisher!</h1>
      <%= link_to 'Add a Product to Your List', new_list_product_path(@list), class:"btn btn-ghost mt-5" %>
    </div>
    <div class="right-container-show-lists">
    </div>
  </div>
<% end %>

<div class="container text-center">
  <h1 class="mt-4"><%= @list.title %></h1>
  <div class="row justify-content-center">
    <% @products.each do |product| %>
      <div class="col-12 col-md-6 col-lg-4 py-4">
        <div class="card-img-product">
          <i class="fas fa-trash-alt"></i>
          <% if product.photo.present? %>
            <%= image_tag asset_url(product.photo), class:"img-fluid" %>
          <% else %>
            <%= image_tag asset_url("loading-img.svg"), class:"img-fluid" %>
          <% end %>
        </div>

        <div class="card-text-product text-left p-3 d-flex flex-column ">
          <h5 class="flex-grow-1"><%= product.name.present? ? product.name : "Loading..." %></h5>
          <%# <h6><%= product.inventory.present? ? product.inventory : "Loading..." %>
          <h6><%= product.price.present? ? "U$ #{product.price}" : "Loading..." %></h6>
          <a href="#" class="btn btn-buy w-100">BUY</a>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Edit', edit_list_path, class:'btn btn-products w-100 mt-3' %>
  <%= link_to 'Delete', list_path, method: :delete, class:'btn btn-products w-100 mt-3' %>
</div>
