<div class="container-show-lists">
  <% if current_user.lists.count == 1 && @products.empty? %>
    <div>
      <h1>Welcome to Whisher!</h1>
    </div>
  <% end %>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <div class="left-show-container">
    </div>
    <div class="right-show-container">
      <h2 class="mt-4"><%= @list.title %></h2>
      <div class="d-flex justify-content-end w-100 mr-2">
        <% if policy(List).create? %>
          <%= link_to new_list_product_path(@list) do%>
          <span class="slide-left-right mr-3"><i class="far fa-plus-square"></i> Add item</span>
          <% end %>
        <% end %>
        <button id="sweet-alert-demo" class="ml-1 slide-left-right btn-none"><i class="fas fa-trash-alt list-fa"></i> Delete list</button>
        <%= link_to "", list_path(@list), method: :delete, id: "delete-link", class: "d-none" %>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <%# ------------------------------------------- %>
  <%#         SEARCH PRODUCTS BY AJAX %>
  <%# ------------------------------------------- %>
  <% unless @products.empty? %>
    <div data-controller="search-products">
      <%= form_with url: list_path, method: :get, html: { class:
      'my-3', data: { search_products_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                        class: "form-control mt-4",
                        placeholder: 'Search for a product',
                        value: params[:query],
                        data: { search_products_target: 'input', action: 'keyup->search-products#update' }
                        %>
      <% end %>


      <div class="row justify-content-center">
        <% @products.each do |product| %>
          <div class="col-8 col-md-3 py-4" data-search-products-target="product" data-product-name="<%= product.name.present? ? product.name : "Loading..." %>">
            <div class="card-img-product">

              <button class="sweet-alert-product btn-none" data-product-id="<%=product.id%>"><i class="fas fa-trash-alt"></i></button>
              <%= link_to "", product_path(product), method: :delete, class: "delete-link-#{product.id} d-none" %>

              <% if product.photo.present? %>
                <%= image_tag asset_url(product.photo), class: "img-fluid" %>
              <% else %>
                <%= image_tag asset_url("loading-img.svg"), class: "img-fluid" %>
              <% end %>
            </div>

            <div class="card-text-product text-left p-3 d-flex flex-column ">
              <h5 class="flex-grow-1"><%= product.name.present? ? product.name : "Loading..." %></h5>
              <%# <%= product.inventory.present? ? product.inventory : "Loading..." %>
              <h6><%= product.price.present? ? "U$ #{product.price}" : "Loading..." %></h6>
            </div>
              <%= link_to 'BUY', product.url, target: "_blank", class: "btn btn-buy w-100" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%# ------------------------------------------- %>
</div>
