<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('homepg_banner.jpg')%>)">
  <div class="banner-container">
    <h1>Your online shopping list in one place</h1>
    <div>
      <%= link_to "Login", new_user_session_path, class:"btn btn-light-blue mt-3 mr-3"%>
      <%= link_to "Sign up", new_user_registration_path, class:"btn btn-light-blue mt-3"%>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="card-product">
    <div class="float-left">
      <%= image_tag asset_path("easy_to_manage.png") %>
    </div>
    <div class="flex-grow-1">
      <h2>Easy way to manage your wish list</h2>
    </div>
  </div>

  <div class="card-product mt-5">
    <div class="text-right flex-grow-1">
      <h2>Your wish list customized</h2>
    </div>
    <div class="float-right">
      <%= image_tag asset_path("customized_list.png") %>
    </div>
  </div>
</div>
