<div class="main-container">
  <div class="services-left-container">
  </div>
  <div class="services-right-container">
    <h1>Organize your online shopping list in one place</h1>
    <p>
      With whisher you can <span class="blue-text-color">organize</span> and <span class="blue-text-color">customize</span> your online shopping list in a practical way. You just need to create your list and add your products, which can also be done by our <span class="blue-text-color">chrome extension</span>.
    </p>
  </div>
</div>

<div class="container text-center py-4">
  <h3>See Whisher supported sites</h3>

  <div class="services-second-container">
    <a href="https://www.madeiramadeira.com.br" target="_blank">
      <%= image_tag 'services/MadeiraMadeira.png', width: '230' %>
    </a>
    <a href="https://leitura.com.br/" target="_blank">
      <%= image_tag 'services/leitura.png', width: '200' %>
    </a>
    <a href="https://www2.hm.com/en_us/index.html" target="_blank">
      <%= image_tag 'services/heh.png', width: '140', height: '80' %>
    </a>
    <a href="https://www.mygeekbox.us/" target="_blank">
      <%= image_tag 'services/geekbox.png', width: '230' %>
    </a>
    <a href="https://www.kobo.com/us/en?changeLanguage=True" target="_blank">
      <%= image_tag 'services/kobo.png', width: '200' %>
    </a>
  </div>


</div>
