<!DOCTYPE html>
<html>
  <head>
    <title>Whisher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <meta property="og:title" content="Whisher - Your Online Shopping list." >
    <meta property="og:image" content="Whisher.svg">
    <meta property="og:url" content="https://whisher.com.br/">
    <meta property="og:description" content="With whisher you can organize and customize your online shopping list in a practical way.">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
